.footermaindiv{
    display:"flex";
    flex-direction: row;
    justify-content: "space-around" !important;
    align-items:"center" !important;
    padding-left: "140px";
    background-color: #161616 ;
  }